<header class="navbar navbar-expand navbar-dark px-4 flex-column flex-md-row">
  <div class="navbar-nav-scroll">
    <ul class="navbar-nav flex-row">
      <li class="nav-item">
        <a class="nav-link" routerLink="home"
            routerLinkActive="active"
            ariaCurrentWhenActive="page">Главная</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="employees"
            routerLinkActive="active" ariaCurrentWhenActive="page">Сотрудники</a>
      </li>
    </ul>
  </div>
</header>
